html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main {
    display: flex;
}

#formulario, #items {
    width: 200px;
}

#items {
    min-height: 300px;
}

section > h1 {
    margin-top: 0;
}